<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045282157092-udhpv5s530u9377d3dugctnhgajkolip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045282157092-udhpv5s530u9377d3dugctnhgajkolip</string>
	<key>API_KEY</key>
	<string>AIzaSyBpcZ79Y2yJW9JDj1G5RqseVw9EaLC-3M8</string>
	<key>GCM_SENDER_ID</key>
	<string>1045282157092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Adam.ArtSpace</string>
	<key>PROJECT_ID</key>
	<string>artspace-7b89a</string>
	<key>STORAGE_BUCKET</key>
	<string>artspace-7b89a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045282157092:ios:0621e125fcf508502b5eb1</string>
	<key>DATABASE_URL</key>
	<string>https://artspace-7b89a.firebaseio.com</string>
</dict>
</plist>